/* Thin */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Thin.woff2") format("woff2"),
        url("fonts/Marianne-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Light.woff2") format("woff2"),
        url("fonts/Marianne-Light.woff") format("woff");
  font-weight:400;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Regular.woff2") format("woff2"),
        url("fonts/Marianne-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Medium.woff2") format("woff2"),
        url("fonts/Marianne-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Bold.woff2") format("woff2"),
        url("fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Extra-Bold */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-ExtraBold.woff2") format("woff2"),
        url("fonts/Marianne-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Thin-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Thin_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Thin_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

/* Light-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Light_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Light_Italic.woff") format("woff");
  font-weight:400;
  font-style: italic;
}

/* Regular-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Regular_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Regular_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/* Medium-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Medium_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

/* Bold-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Bold_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Extra-Bold-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-ExtraBold_Italic.woff") format("woff2"),
        url("fonts/Marianne-ExtraBold_Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

:root {
  --white:#ffffff;
  --white-hover:#F6F6F6;
  --white-active:#ededed;

  --light-grey : #f6f6f6;
  --light-grey-hover:#dfdfdf;
  --light-grey-active:#cfcfcf;

  --grey:#cecece;
  --grey-hover:#a8a8a8;
  --grey-active:#939393;

  --dark-grey:#666666;
  --dark-grey-hover:#919191
  --dark-grey-active:#a6a6a6;

  --blue:#000091;
  --blue-hover:#1212ff;
  --blue-active:#2323ff;

  --red:#E1000F;
  --red-hover:#ff292f;
  --red-active:#ff4347;

  --text:#000000;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-hover);
}

* {
  font-family: 'Marianne', sans-serif;
  font-style: normal;
  font-weight: 600;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  text-decoration: none;
  color: var(--text);
}

body{
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100lvw;
  background: var(--white);
  box-shadow: 0px 0px 6px var(--grey);
  z-index:10;
}

.firstNav {
  margin: 8px 0 10px 0;
  width:calc(100lvw - 40px);
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.firstNav .navTitleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap:20px;
  background-color: var(--white);
  transition:background-color 0.1s ease;
  padding:14px 20px;
}

.firstNav .navTitleContainer:hover {
  background-color: var(--light-grey);
}

.firstNav .logoRF {
  width: 85px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
}

.firstNav .blueNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap:10px;
  padding:14px 20px;
}

.firstNav .blueNav .blueBtn {
  width: max-content;
  font-size: 14px;
  color: var(--blue);
  padding:6px 12px 8px 12px;
  background-color: var(--white);
  transition:background-color 0.1s ease;
}

.firstNav .blueNav .blueBtn:hover{
  background-color: var(--light-grey);
}

.separationNav {
  width: 100vw;
  height: 1px;
  background-color: var(--grey);
}

.secondNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:10px;
  width:calc(100lvw - 40px);
  max-width: 1250px;
}

.secondNav .blackBtn {
  font-size: 13px;
  font-weight: 500;
  padding:16px 20px 19px 20px;
  background-color: var(--white);
  transition:background-color 0.1s ease;
}

.secondNav .blackBtn:hover {
  background-color: var(--light-grey);
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-color: var(--white);
  border-top:solid var(--blue) 3px;
  margin-top: 100px;
  width: 100lvw;
}

.firstFoot {
  width: calc(100% - 40px);
  padding: 30px 0 30px 0;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--grey) 1px;
}

.firstFoot .logoRF {
  width: 135px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
}

.warningFooter {
  width: 300px;
  font-size: 12px;
}

main {
  position: relative;
  width: 100lvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.electionsBackground {
  width: 100lvw;
  background-color: var(--light-grey);
  background-image: url("img/hand.svg"), url("img/urne.svg"), url("img/blob.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -10% 70%, 125% -10%, 50% 50%;
  background-clip: cover, cover, cover;
  background-size: 50%, 50%, 30%;
}

#electionsEnCours.disabled, #prochainesElections.disabled {
  display: none ;
}


.elections {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width:calc(100lvw - 40px);
  max-width: 1250px;
}

.elections .libelle {
  display: flex;
  flex-direction: column ;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 50px;
}

.elections .libelle p {
  font-size: 24px;
  color:var(--blue);
  font-weight: 700;
}

.elections .decompte {
  width: 100lvw;
  font-size: 48px;
  color:var(--blue);
  opacity: 1;
  font-weight: 750;
  /* letter-spacing:-30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
}

.voteBtn {
  font-size : 52px;
  color:var(--white);
  background-color: var(--red);
  padding: 10px 40px 20px 40px;
  transition: background-color 0.1s ease;
  z-index: 5;
}

.voteBtn:hover {
  background-color:var(--red-hover);
}

.separation {
  width: calc(100% - 40px);
  max-width: 1100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.separation .line {
  width: 100%;
  max-width: inherit;
  height: 1px;
  background-color: var(--grey);
}

section.progIndex {
  width: calc(100% - 40px);
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.progIndex h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}

.progIndex p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 20px 0 30px 0;
  color: var(--dark-grey);
}

.partisListe {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
  row-gap: 30px;
  column-gap: 100px;
}

.partiAffiche {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 200px;
  transform: scale(1);
  transition:transform 0.2s ease-out;
}

.partiAffiche:hover {
  transform: scale(1.1);
}

.partiAffiche img {
  width: inherit;
  height: auto;
  transform: scale(0);
  visibility: visible;

  animation-duration: 0.5s;
  animation-name: growImage;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.partiAffiche p {
  width: inherit;
  text-align: center;
}

.partiAffiche .nomCandidat {
  color:var(--text) !important;
  font-weight: 600;
  margin: 15px 0 0 0;
}

.partiAffiche .partiCandidat {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

@keyframes growImage {
  from {
    transform: scale(0);
  }
  to { 
    transform: scale(1);
  }
}







.connectForm, .registerForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  width:calc(100lvw - 40px);
  max-width: 620px;
  gap: 8px;
}

form h1 {
  font-size: 40px;
  width: 100%;
  margin: 30px 0 15px 0;
}

form label {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
 
form .exemple {
  font-size: 10px;
  color:var(--dark-grey);
  margin:0;
}

form input[type='email'], form input[type='password'], form input[type='text'] {
  width: calc(100% - 40px);
  border: none;
  background-color: var(--light-grey);
  border-bottom: solid var(--text) 2px;
  font-size: 17px;
  padding: 10px 20px;
  font-weight: 400;
}

.formBtn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  margin: 30px 0;
  gap: 6px;
}

.formBtn a {
  color: var(--blue);
}

.formBtn a span {
  border-bottom: solid var(--blue) 1px;
  color: var(--blue);
}

.formBtn a:hover span {
  border-bottom: solid var(--blue) 2px;
}

form input[type='submit'] {
  border: none;
  font-size: 18px;
  color: var(--white);
  background-color: var(--blue);
  padding: 12px 24px 14px 24px;
  transition: background-color 0.15s ease;
}

form input[type='submit']:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

form .info  {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  border-left: solid var(--blue-active) 4px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
}

form h3 {
  margin: 0 ;
  font-size: 20px;
  font-weight: 700;
  margin: 25px 0 5px 0;
}

form .info h3 {
  margin: 0 0 15px 0;
  font-size: inherit;
}

form .info p {
  margin: 0;
  font-weight: inherit;
}

form .info span {
  font-weight: 700;
}

form .coche {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

form .coche label {
  margin: 0;
}

form .coche input[type='checkbox']{
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  margin: 0;
  width: 16px;
  height: 16px;
  border: solid var(--blue) 1px;
  border-radius: 4px;
}

form .coche input[type='checkbox']:hover {
  cursor:pointer;
}

form .coche input[type='checkbox']:checked {
  background-color: var(--blue);
}

form .coche input[type='checkbox']:checked::after {
  content:'✓';
  color:var(--white);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: start;
  transform: translateY(-10%);
}


.programmeTitle {
  width: calc(100% - 40px);
  max-width: 800px;
  font-size: 32px;
  font-weight: 800;
  margin:40px 0 5px 0;
}

.programmeParti {
  width: calc(100% - 40px);
  max-width: 800px;
  color:var(--dark-grey);
  font-size: 18px;
  font-weight: 600;
  margin:0px 0 25px 0;
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pdf-viewer {
  width: 100%; 
  max-width: 800px; 
  height: 1000px;
  margin: 0;
  box-shadow: 4px 4px 0px var(--blue); 
}


.dialogue {
  display: flex;
  flex-direction: column;
  align-items: start;
  width:calc(100lvw - 40px);
  max-width: 620px;
  gap: 8px;
  margin:50px 0;
}

.dialogue.disabled {
  display: none;
}

.dialogue .info  {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  border-left: solid var(--blue-active) 4px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
}

.dialogue h3 {
  margin: 0 ;
  font-size: 20px;
  font-weight: 700;
  margin: 25px 0 5px 0;
}

.dialogue .info h3 {
  margin: 0 0 15px 0;
  font-size: inherit;
}

.dialogue .info p {
  margin: 0;
  font-weight: inherit;
}

.dialogue .info span {
  font-weight: 700;
}

.dialogue .btn {
  border: none;
  font-size: 18px;
  color: var(--white);
  background-color: var(--blue);
  padding: 12px 24px 14px 24px;
  transition: background-color 0.15s ease;
  margin:20px 0;
}

.dialogue .btn:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

.page {
  width: calc(100% - 40px);
  max-width: 1100px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.page.enabled {
  display: flex;
}

.page .btn {
  border: none;
  font-size: 18px;
  color: var(--white);
  background-color: var(--blue);
  padding: 12px 24px 14px 24px;
  transition: background-color 0.15s ease;
  margin:20px;
}

.page .btn:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}