/* Thin */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Thin.woff2") format("woff2"),
        url("fonts/Marianne-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Light.woff2") format("woff2"),
        url("fonts/Marianne-Light.woff") format("woff");
  font-weight:400;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Regular.woff2") format("woff2"),
        url("fonts/Marianne-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Medium.woff2") format("woff2"),
        url("fonts/Marianne-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Bold.woff2") format("woff2"),
        url("fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Extra-Bold */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-ExtraBold.woff2") format("woff2"),
        url("fonts/Marianne-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Thin-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Thin_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Thin_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

/* Light-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Light_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Light_Italic.woff") format("woff");
  font-weight:400;
  font-style: italic;
}

/* Regular-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Regular_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Regular_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/* Medium-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Medium_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

/* Bold-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-Bold_Italic.woff2") format("woff2"),
        url("fonts/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Extra-Bold-Italic */
@font-face {
  font-family: 'Marianne';
  src:  url("fonts/Marianne-ExtraBold_Italic.woff") format("woff2"),
        url("fonts/Marianne-ExtraBold_Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

:root {
  --white:#ffffff;
  --white-hover:#F6F6F6;
  --white-active:#ededed;

  --grey : #f6f6f6;
  --grey-hover:#dfdfdf;
  --grey-active:#cfcfcf;

  --grey-dark:#cecece;
  --grey-dark-hover:#a8a8a8;
  --grey-dark-active:#939393;

  --blue:#000091;
  --blue-hover:#1212ff;
  --blue-active:#2323ff;

  --red:#E1000F;
  --red-hover:#ff292f;
  --red-active:#ff4347;

  --text:#000000;
}

* {
  font-family: 'Marianne', sans-serif;
  font-style: normal;
  font-weight: 600;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  text-decoration: none;
  color: var(--text);
}

body{
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100lvw;
  background: var(--white);
  box-shadow: 0px 0px 6px var(--grey-dark);
  z-index:10;
}

.firstNav {
  margin: 8px 0 10px 0;
  width:calc(100lvw - 40px);
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.firstNav .navTitleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap:20px;
  background-color: var(--white);
  transition:background-color 0.1s ease;
  padding:14px 20px;
}

.firstNav .navTitleContainer:hover {
  background-color: var(--grey);
}

.firstNav .logoRF {
  width: 85px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
}

.firstNav .blueNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap:10px;
  padding:14px 20px;
}

.firstNav .blueNav .blueBtn {
  font-size: 14px;
  color: var(--blue);
  padding:6px 12px 8px 12px;
  background-color: var(--white);
  transition:background-color 0.1s ease;
}

.firstNav .blueNav .blueBtn:hover{
  background-color: var(--grey);
}

.separationNav {
  width: 100vw;
  height: 1px;
  background-color: var(--grey-dark);
}

.secondNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:10px;
  width:calc(100lvw - 40px);
  max-width: 1250px;
}

.secondNav .blackBtn {
  font-size: 13px;
  font-weight: 500;
  padding:16px 20px 19px 20px;
  background-color: var(--white);
  transition:background-color 0.1s ease;
}

.secondNav .blackBtn:hover {
  background-color: var(--grey);
}

main {
  position: relative;
  width: 100lvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.electionsBackground {
  width: 100lvw;
  background-color: var(--grey);
}

#electionsEnCours.disabled, #prochainesElections.disabled {
  display: none ;
}


.elections {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:calc(100lvw - 40px);
  max-width: 1250px;
}

.elections .decompte {
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-55%);
  width: 100lvw;
  font-size: 450px;
  color:var(--blue);
  opacity: 0.05;
  font-weight: 600;
  letter-spacing:-30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
}

.voteBtn {
  font-size : 42px;
  color:var(--white);
  background-color: var(--blue);
  padding: 10px 40px 20px 40px;
  transition: background-color 0.1s ease;
  z-index: 5;
}

.voteBtn:hover {
  background-color:var(--blue-hover);
}